<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ModelMapper">

    <resultMap id="BaseResultMap" type="com.zgs.confcenter.model.Model">
            <id property="modelId" column="model_id" jdbcType="BIGINT"/>
            <result property="modelName" column="model_name" jdbcType="VARCHAR"/>
            <result property="modelCode" column="model_code" jdbcType="VARCHAR"/>
            <result property="parentId" column="parent_id" jdbcType="BIGINT"/>
            <result property="createUser" column="create_user" jdbcType="VARCHAR"/>
            <result property="updateUser" column="update_user" jdbcType="VARCHAR"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        model_id,model_name,model_code,
        parent_id,create_user,update_user,
        create_date,update_date,is_delete
    </sql>
</mapper>
